@model IEnumerable<Øvelse_2.Models.Kage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p> @*Create knap bliver lavet*@
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead> @*Tabel*@
        <tr>
            <th> @*Kolonne navne bliver skrevet ind*@
                @Html.DisplayNameFor(model => model.CakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> @*Laver en linje for hver item i tabellen*@
            <td>
                @Html.DisplayFor(modelItem => item.CakeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestBefore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td> @*Kontrol over hver item*@
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
